<div phx-hook="BoilerPlayerVisitor" phx-update="ignore" id="vroom-player" class="w-full lg:w-3/4 shadow-md rounded-md overflow-hidden relative">
  <div class="w-full pointer-events-none" id="yt-player"></div>
</div>
<script></script>
